<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb <%= @bite %> </p>
<%# <button type="button" class="btn btn-primary actions">Primary</button> %>
<div class="btn btn-primary">
  <%= link_to 'clic',   @index , :class => "btn" %> |
  <%= link_to 'NEW WALLET', new_wallet_path, :class => "btn"%>
</div>

<p><%=@alpha%></p>

<p>account is <%=@toto%></p>


